[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "flask>=3.1.1",
    "pillow>=11.3.0",
    "python-dotenv>=1.1.1",
    "python-telegram-bot==20.8",
    "requests>=2.32.5",
    "telegram>=0.0.1",
]
